    <p>
        <label for="type">Флакон:</label>
        <select name="type" id="type" oninput="calc(this.value,0,0);">
            <option value="30">30 ml за 75 рублей</option>
            <option value="50">50 ml за 100 рублей</option>
            <option value="100" selected="">100 ml за 200 рублей</option>
        </select>
        <br><br><span id="span-0" style="color: #f6931f">200</span>&nbsp;руб. за флакон

        <input type="hidden" id="type-0" value="0">
        <input type="hidden" id="type-30" value="75">
        <input type="hidden" id="type-50" value="100">
        <input type="hidden" id="type-100" value="200">
    </p>
    <ul id="dynamic-list">
        <div id="id-1">

            <label for="amount"><span class="span" id="label-1">3.7</span>ml (20р за 1ml):</label>
            <input id="input-1" name="input-1-price-20" value="3.7" step="0.5" type="range"
                   oninput="calc(this.value, 1);">
            <input id="ml_price-1" value="20" type="hidden">
            <span id="span-1">3.7</span>&nbsp;%
        </div>
        <div id="id-2">

            <label for="amount"><span class="span" id="label-2">30</span>ml (70р за 1ml):</label>
            <input id="input-2" name="input-2-price-70" value="30" step="0.5" type="range"
                   oninput="calc(this.value, 2);">
            <input id="ml_price-2" value="70" type="hidden">
            <span id="span-2">30</span>&nbsp;%

        </div>
        <div id="id-3">

            <label for="amount"><span class="span" id="label-3">15</span>ml (20р за 1ml):</label>
            <input id="input-3" name="input-3-price-20" value="15" step="0.5" type="range"
                   oninput="calc(this.value, 3);">
            <input id="ml_price-3" value="20" type="hidden">
            <span id="span-3">15</span>&nbsp;%

        </div>
        <div id="id-4">

            <label for="amount"><span class="span" id="label-4">5</span>ml (50р за 1ml):</label>
            <input id="input-4" name="input-4-price-50" value="5" step="0.5" type="range"
                   oninput="calc(this.value, 4);">
            <input id="ml_price-4" value="50" type="hidden">
            <span id="span-4">5</span>&nbsp;%

        </div>

        <div id="id-5">
            <label for="input-5"><span class="span-br">Банан</span><br><span id="label-5" class="span">23.3</span>
            <span class="span">ml (50р за 1ml):</span>
            </label>
            <input id="input-5" name="input-5_id-301-price-50" value="23.3" type="range" style=" width:100%;" oninput="calc(this.value, 5);" step="0.1">
            <input id="ml_price-5" value="50" type="hidden"><span id="span-5">23.3</span> %
            <button class="rem-item" onclick="removeItem(this)" data-id="5">remove</button>
        </div>

        <div id="id-6"><label for="input-6"><span class="span-br">Роза</span><br><span id="label-6" class="span">15</span>
            <span class="span">ml (70р за 1ml):</span></label>
            <input id="input-6" name="input-6_id-304-price-70" value="15" type="range" style=" width:100%;" oninput="calc(this.value, 6);" step="0.1">
            <input id="ml_price-6" value="70" type="hidden"><span id="span-6">15</span> %
            <button class="rem-item" onclick="removeItem(this)" data-id="6">remove</button>
        </div>
        <div id="id-7"><label for="input-7"><span class="span-br">Дыня</span><br><span id="label-7" class="span">8</span><span
                class="span">ml (50р за 1ml):</span></label>
            <input id="input-7" name="input-7_id-303-price-50" value="7" type="range" style=" width:100%;" oninput="calc(this.value, 7);" step="0.1">
            <input id="ml_price-7" value="50" type="hidden"><span id="span-7">8</span> %
            <button class="rem-item" onclick="removeItem(this)" data-id="7">remove</button>
        </div>
    </ul>

    <table id="customers">
        <tbody>
        <tr id="customers_th">
            <th>price</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th id="th-5">5</th>
            <th id="th-6">6</th>
            <th id="th-7">7</th>
        </tr>
        <tr id="customers_td">
            <td id="td-0">200</td>
            <td id="td-1">74</td>
            <td id="td-2">2100</td>
            <td id="td-3">300</td>
            <td id="td-4">250</td>
            <td id="td-5">1165</td>
            <td id="td-6">1050</td>
            <td id="td-7">400</td>
        </tr>

        </tbody>
    </table>
    <input style="height: 25px; text-align:center" id="customers_summ" disabled="" value="3750">
