<div id="html">
    <form name="cl_form">
        <input id="num" value="7" type="hidden">

        <div class="demo">
            <p>
                <label for="type">Флакон:</label>
                <select name="type" id="type" oninput="calc(this.value,0,0);">
                    <option value="30">30 ml за 75 рублей</option>
                    <option value="50">50 ml за 100 рублей</option>
                    <option value="100" selected="">100 ml за 200 рублей</option>
                </select>
                <br><br><span id="span-0" style="color: #f6931f">200</span>&nbsp;руб. за флакон

            </p>
            <ul id="dynamic-list">
                <div id="id-1">

                    <label for="amount"><span class="span" id="label-1">2</span>ml (20р за 1ml):</label>
                    <input id="input-1" value="2" step="0.5" type="range" oninput="calc(this.value, 1);">
                    <input id="ml_price-1" value="20" type="hidden">
                    <span id="span-1">2</span>&nbsp;%
                </div>
                <div id="id-2">

                    <label for="amount"><span class="span" id="label-2">10</span>ml (70р за 1ml):</label>
                    <input id="input-2" value="10" step="0.5" type="range" oninput="calc(this.value, 2);">
                    <input id="ml_price-2" value="70" type="hidden">
                    <span id="span-2">10</span>&nbsp;%

                </div>
                <div id="id-3">

                    <label for="amount"><span class="span" id="label-3">15</span>ml (20р за 1ml):</label>
                    <input id="input-3" value="15" step="0.5" type="range" oninput="calc(this.value, 3);">
                    <input id="ml_price-3" value="20" type="hidden">
                    <span id="span-3">15</span>&nbsp;%

                </div>
                <div id="id-4">

                    <label for="amount"><span class="span" id="label-4">5</span>ml (50р за 1ml):</label>
                    <input id="input-4" value="5" step="0.5" type="range" oninput="calc(this.value, 4);">
                    <input id="ml_price-4" value="50" type="hidden">
                    <span id="span-4">5</span>&nbsp;%

                </div>

                <div id="id-6">
                    <label for="input-6"><span id="label-6" class="span">18</span>
                        <span class="span">ml (100р за 1ml):</span></label>
                    <input id="input-6" value="18" type="range" style=" width:100%;" oninput="calc(this.value, 6);">
                    <input id="ml_price-6" value="100" type="hidden">
                    <span id="span-6">18</span> %
                    <button class="rem-item" onclick="removeItem(this)" data-id="6">remove</button>
                </div>

                <div id="id-7">
                    <label for="input-7"><span id="label-7" class="span">50</span>
                        <span class="span">ml (50р за 1ml):</span></label>
                    <input id="input-7" value="50" type="range" style=" width:100%;" oninput="calc(this.value, 7);">
                    <input id="ml_price-7" value="50" type="hidden"><span id="span-7">50</span> %
                    <button class="rem-item" onclick="removeItem(this)" data-id="7">remove</button>
                </div>

            </ul>

            <table id="customers">
                <tbody><tr id="customers_th">
                    <th>price</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th id="th-6">6</th><th id="th-7">7</th></tr>
                <tr id="customers_td">
                    <td id="td-0">200</td>
                    <td id="td-1">40</td>
                    <td id="td-2">700</td>
                    <td id="td-3">300</td>
                    <td id="td-4">250</td>
                    <td id="td-6">1800</td><td id="td-7">2500</td></tr>

                </tbody></table>
            <input style="height: 25px; text-align:center" id="customers_summ" disabled="" value="3750">
        </div>

    </form>

    <select name="type" id="candidate">
        <option selected="selected" value="0">добавить ингредиент</option>
        <option value="30">ингредиент 1 (30р за 1ml)</option>
        <option value="50">ингредиент 2 (50р за 1ml)</option>
        <option value="100">ингредиент 3 (100р за 1ml)</option>
    </select>
    <br>
    <br>
    <button onclick="addItem()">add item</button>
    <br>
    <br>
    <!--    <button onclick="save()">save</button>-->
</div>