div.demo {
    padding: 10px !important;
    width: 30%;
}

.ui-widget {
    font-size: 0.6em !important;
}

.demo input{
    border:0;
    color:#f6931f;
    font-weight:bold;
    width:100%;
}
#dynamic-list span{
    color:#f6931f;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
#dynamic-list div{
    margin-top: 30px;
}

#dynamic-list label .span{
    color: black;
}

.rem-item{
    float: right;
    margin: 20px;
}

.add-item{
    border: 1px solid #333;
    padding: 5px 15px;
    text-decoration: none; /* Убираем подчёркивание */
    color: #000;
}
.add-item:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
}